* {
    background-color: aquamarine;
    margin: 5px;
    padding: 5px;
}

body {
    background-color: aquamarine;
}

#Highscores {
    display: flex;
    background-color: aquamarine;
}

#Button {
    display: grid;
}

#timer {
    display: none;
}

#button1 {
    display: grid;
}

.hide {
    display: none;
}

.hide1 {
    display: none!important;
}